<h3> Update, Create, or Delete Posts</h3>
<div class = "posts list-group">
    {{#each posts}}
    <div class="card">
        <a class = "list-item flex-row justify-space-between" href = "/dashboard/edit/{{id}}">
        <span class = "card-header">{{title}} | {{format_date createdAt}}</span>
        </a>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
  </div>
</div>
    {{/each}}
</div>